* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 400px;
    height: 600px;
    background-image: url(images/background.png);
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    display: none; 
}

.doodler {
    width: 70px;
    height: 70px;
    background-image: url(images/doodler.png);
    background-size: 100% 100%;
    position: absolute;
    bottom: 100px;
    left: calc(50% - 35px);
}

.platform {
    width: 120px;
    height: 20px;
    background-image: url(images/platform.png);
    background-size: 100%;
    position: absolute;
}

.flip {
    scale: -1 1;
}

.score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none; 
}

.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(images/bg-start-screen.jpg) no-repeat center center;
    background-size: cover; 
    color: white;
    text-align: center;
}

.start-screen h1 {
    font-size: 3em;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #00ff00, #00ff99, #00ccff, #ff00ff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%; 
    animation: textAnimation 4s linear infinite; 
}

@keyframes textAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.intro-gif {
    width: 300px; 
    height: auto; 
    margin-bottom: 20px; 
}

#start-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #45a049;
}
